@model Category
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Edit Category</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" enctype="multipart/form-data">
            <input asp-for="Id" hidden />
            <div class="row">
                <div class="col-10">
            <div class="border p-3 mt-4">
                <div asp-validation-summary="All"></div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Name" class="form-control border-0 shadow" />
                    <label asp-for="Name" class="ms-2"></label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3 row p-1">
                    <input asp-for="DisplayOrder" class="form-control border-0 shadow" />
                    <label asp-for="DisplayOrder" class="ms-2"></label>
                    <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3 row p-1">
                    <input asp-for="CategoryImageUrl" type="file" name="file" class="form-control border-0 shadow" multiple  />
                    <label asp-for="CategoryImageUrl" class="ms-2"></label>
                    
                </div>
                <br/>
                <div class="form-check form-switch mb-3">
                            <input asp-for="ProductCount" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Keep the number of products</label>
                </div>        
                <div class="row">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Update</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary border form-control">
                            Back To List
                        </a>
                    </div>
                </div>
                


            </div>
            </div>
                <div class="col-2">
                    <div class="border p-1 m-2 text-center">
                        <img src="@Model.CategoryImageUrl" width="100%"
                             style="border-radius:5px; border:1px solid #bbb9b9" />
                         </div>
                </div>

        </form>
    </div>
</div>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
