@model JustKeyNew.Models.ViewModels.ProductVM

<div class="card box-shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2 ">Product List</h2>
            </div>
        </div>

    </div>
    <div class="card-body p-4">

        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary"><i class="bi bi-plus-circle"></i>Create New Category</a>
            </div>

        </div>
        <div class="d-flex justify-content-between pb-5 pt-2">
            <span></span>
            <ul class="list-group list-group-horizontal-sm">
                <a style="text-decoration:none;" asp-controller="Product" asp-action="GetAll" asp-route-status="All">
                <li class="list-group-item text-primary">All</li>
                </a>
                @foreach (var category in Model.CategoryList)
                {
                    <a style="text-decoration:none;" asp-controller="Product" asp-action="GetAll" asp-route-status="@category.Text">
                    <li class="list-group-item text-primary">@category.Text</li>
                    </a>
                }
                
                
            </ul>
        </div>

        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    
                    <th>
                        Price
                    </th>

                    <th>
                        Category
                    </th>
                    <th></th>

                </tr>
            </thead>

        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/product.js"></script>
}