@using Newtonsoft.Json
@{
    ViewBag.Title = "Printers";
    var selectedPrinterId = ViewBag.PrinterId as string;
}

<h2>Printers</h2>
<form asp-action="Print" method="post">
    <label for="printerId">Select Printer:</label>
    <select id="printerId" name="printerId">
        @foreach (var printer in JsonConvert.DeserializeObject<List<dynamic>>(ViewBag.Printers))
        {
            <option value="@printer.id" >@printer.name</option>
        }
    </select>
    <br />
    
    <button type="submit">Save Printer</button>
</form>
